@model IEnumerable<WebQLHS.Models.HocSinh>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div class="container">
		<h1 style="background-color: white;">Danh sách học sinh</h1>

		<table class="table" style="background-color: white;">
			<thead>
				<tr>
					<th>Mã học sinh</th>
					<th>Họ và tên</th>
					<th>Giới tính</th>
					<th>Ngày sinh</th>
					<th>Email</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var hocSinh in Model)
				{
					<tr>
						<td>@hocSinh.MaHS</td>
						<td>@hocSinh.HoTen</td>
						<td>@hocSinh.GioiTinh</td>
						<td>@hocSinh.NgaySinh.ToString("dd/MM/yyyy")</td>
						<td>@hocSinh.EmailHocSinh</td>
						<td>
							<a asp-action="Details" asp-route-id="@hocSinh.MaHS">Chi tiết</a>
						</td>
						<td>
							<a asp-controller="BangDiem" asp-action="BangDiem_HocSinh" asp-route-id="@hocSinh.MaHS">Xem điểm</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>
</body>
</html>