@model WebQLHS.Models.HocSinh

@{
    ViewData["Title"] = "Thông tin học sinh";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 style="background-color: white;">Thông tin học sinh</h1>
        <div style="background-color: white;">
            <h4>Học sinh</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaHS)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaHS)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HoTen)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HoTen)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GioiTinh)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GioiTinh)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DiaChi)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NgaySinh)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NgaySinh, "{0:dd/MM/yyyy}")
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaLop)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaLop)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmailHocSinh)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmailHocSinh)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.MaHS">Chỉnh sửa</a>
            <a asp-action="DanhSachHocSinh">Trở về danh sách</a>
        </div>
       
    </div>
</body>
</html>