@model IEnumerable<WebQLHS.Models.NhanVien>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Danh sách nhân viên";
}


<div class="container">
    <h1>Danh sách nhân viên</h1>
    <p>@TempData["Message"]</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HoTen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GioiTinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgaySinh)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @item.NgaySinh.ToString("dd/MM/yyyy")
                    </td>

                    <td>
                        <a asp-action="SuaNhanVien" asp-route-maNV="@item.MaNv.Trim()">Edit</a> |
                        @* <a asp-action="Details" asp-route-id="@item.MaLopHoc.Trim()">Details</a> | *@
                        <a asp-action="XoaNhanVien" asp-route-maNV="@item.MaNv.Trim()">Delete</a> |
                        <a asp-action="DanhSachHocSinhLopChuNhiemAdmin" asp-route-maNV="@item.MaNv.Trim()">Xem học sinh</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
