@model WebQLHS.Models.Lop


<div class="container">
    <h1>Details</h1>
    <div>
        <h4>LopHoc details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaLopHoc)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaLopHoc)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TenLop)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TenLop)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SiSo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SiSo)
            </dd>
        </dl>
    </div>

    <div>
        <a asp-action="DanhSachLopHoc">Back to List</a>
        <a asp-action="Edit" asp-route-id="@Model.MaLopHoc.Trim()">Edit</a>
    </div>

</div>


