@model IEnumerable<WebQLHS.Models.BangDiem>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div class="container">
		<h2 style="background-color: white;">Bảng điểm </h2>

		<table class="table" style="background-color: white;">
			<thead>
				<tr>
					<th>Mã học sinh</th>
					<th>Học kỳ</th>
					<th>Điểm Toán</th>
					<th>Điểm Lý</th>
					<th>Điểm Hóa</th>
					<th>Điểm Văn</th>
					<th>Điểm Ngoại Ngữ</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => item.MaHocSinh)</td>
						<td>@Html.DisplayFor(modelItem => item.HocKy)</td>
						<td>@Html.DisplayFor(modelItem => item.DiemToan)</td>
						<td>@Html.DisplayFor(modelItem => item.DiemLy)</td>
						<td>@Html.DisplayFor(modelItem => item.DiemHoa)</td>
						<td>@Html.DisplayFor(modelItem => item.DiemVan)</td>
						<td>@Html.DisplayFor(modelItem => item.DiemNgoaiNgu)</td>
					</tr>
				}
		</table>
		<div>
			<a asp-action="EditBangDiem" asp-route-id="">Chỉnh sửa</a>
			<a asp-controller="HocSinh" asp-action="DanhSachHocSinh">Trở về danh sách</a>
		</div>

	</div>
</body>
</html>